
$font-family: 'Archivo', sans-serif;
$font-base-size: 1.4rem;
$primary: #f2f2f2;
$secondary: #dc3e45;
$tertiary: #393c41;
$quaternary: white;
$light-gray: #919597;
$light-black: #19191a;
$ghost-white: #f8f9fa;
$dark-slate-gray: #343a40;
$footer-gray: #f8f9fa73;